/* Scss Document */


html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #2b2b2b;
    line-height: 1;
    word-break: break-all;
}


div > p {
    line-height: 1.5;
}

.br-sp {
    display: none;

    @include sp {
        display: block;
    }
}
.br-pc {

    @include sp {
        display: none;
    }
}

.l-wrapper {
    position: relative;
    min-width: 100%;
    overflow-x: hidden;
}

/*コンテナ*/
.l-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    @include sp {
        width: 100%;
    }
}

.l-header {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 20px;

    @include sp {
        display: flex;
        align-items: center;
        height: 12vw;
        padding: 0;
    }

    &__logo {
        /*width: 398px;*/
        /*width: 482px;*/
        width: 600px;
        margin: 0 auto 29px;

        @include sp {
            margin-bottom: 0;
        }

        @include sp {
            width: 70%;
            max-width: 398px;
        }
    }
}

.gnav {
    @include sp {
        position: fixed;
        top: 12vw;
        right: -100%;
        width: 100%;
        z-index: 998;
        height: 100vh;
        overflow: scroll;
        background-color: #39aab1;
    }

    &__item {
        position: relative;

        @include sp {
            width: 100%;
            border-bottom: 1px solid #fff;
        }

        &::after {
            position: absolute;
            content: '/';
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            color: #39aab1;
        }

        &:last-child::after {
            display: none;
        }

        > a {
            padding: 0 35px;
            color: #2b2b2b;
            text-decoration: none;
            font-size: 1.6rem;

            &:hover {
                text-decoration: underline;
            }

            @include sp {
                display: block;
                padding: 15px;
                color: #fff;
            }
        }
    }
}

.hnav {
    display: none;

    @include sp {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 12vw;
        height: 12vw;
        background-color: #39aab1;

        li {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        span {
            display: block;
            width: 80%;
            height: 2px;
            background-color: #fff;
        }
    }
}

/* Toggle Button */
#nav-toggle {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 101;
    width: 7.25vw;
    height: 5.92vw;
    box-sizing: border-box;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    background-color: #fff;
    border-radius: 2px;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

#nav-toggle span:nth-child(3) {
    bottom: 0;
}

.open #nav-toggle {}

.open #nav-toggle span {
    background-color: #fff;
}

/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle span:nth-child(1) {
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}

.open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}

.open #nav-toggle span:nth-child(3) {
    top: 50%;
    margin-top: -2px;
    botttom: auto;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}

.l-footer {
    position: relative;
    background-color: #39aab1;
    border-top: 30px solid #b0d7d9;
    margin-top: 82px;
    padding-bottom: 30px;

    @include sp {
        margin-top: 0;
        padding: 3.13vw 3.13vw 30px;
    }

    &__bnr {
        position: absolute;
        top: -82px;
        left: 50%;
        transform: translateX(-50%);
        width: 1000px;

        @include sp {
            position: relative;
            top: 0;
            width: 100%;
        }
    }

    .fnav {
        margin-top: 120px;

        @include sp {
            display: none;
        }

        &__item a {
            color: #fff;
            margin: 0 35px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__logo {
        /*width: 482px;*/
        width: 600px;
        margin: 30px auto;

        @include sp {
            width: 100%;
        }
    }

    &__address {
        text-align: center;
        color: #fff;
        font-weight: bold;

        a {
            color: #fff;
        }
    }
    &__srp {
      padding: 20px;
      background: #FFF;
    }
}

.c-block {
    padding-top: 60px;
    padding-bottom: 60px;

    @include sp {
        padding: 30px 3.13vw;
    }

    &__heading {
        font-size: 3.0rem;
        text-align: center;

        @include sp {
            font-size: 2.2rem;
        }

        &:first-letter {
            font-size: 3.6rem;
            color: #10b1bb;

            @include sp {
                font-size: 2.6rem;
            }
        }
    }

    &__baige {
        background-image: url(../images/bg_baige.png);
        background-repeat: repeat;
        background-position: center;
        text-align: center;
    }
}

.c-box {
    background-color: #fff;

    &--pink {
        border-color: rgba(238, 133, 133, 0.7);
    }

    &--perple {
        border-color: rgba(146, 140, 207, 0.7);
    }

    &--lightgreen {
        border-color: rgba(50, 211, 160, 0.7);
    }

    &--blue {
        border-color: rgba(62, 138, 223, 0.7);
    }

    &--darkgreen {
        border-color: rgba(57, 170, 177, 0.7);
    }
  
    &--orange {
        border-color: rgba(255, 194, 36, 0.7);
    }
}

.c-button {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    border: none;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }

    &__df {
        background-color: #39aab1;
        color: #fff;
    }

    &__arrow {
        padding-right: 10px;

        &::after {
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            width: 6px;
            height: 6px;
            margin-top: -3px;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
        }

        &-right::after {
            right: 10px;
        }
    }
}

.c-contcard {
    width: 47%;
    padding: 20px;
    text-align: center;
    color: #fff;

    @include sp {
        width: 100%;

        + .c-contcard {
            margin-top: 15px;
        }
    }

    &__icon {
        width: 43px;
        height: 43px;
        margin-right: 10px;

        @include sp {
            width: 12.5vw;
            height: 12.5vw;
        }
    }

    &__number {
        font-size: 4rem;
        font-family: 'Lato', sans-serif;

        @include sp {
            font-size: 2.4rem;
        }
        a {
            color: #fff;
        }
    }

    &__address {
        font-size: 2.0rem;
        font-family: 'Lato', sans-serif;

        @include sp {
            font-size: 1.4rem;
        }
    }

    &__time {
        font-size: 1.8rem;

        @include sp {
            font-size: 1.4rem;
        }

        span {
            font-size: 2.5rem;
            font-family: 'Lato', sans-serif;

            @include sp {
                font-size: 2.0rem;
            }
        }
    }

    &__comment {
        font-size: 1.6rem;
    }
}

.p-heading {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-image: url(../images/heading_line.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    @include sp {
        padding-bottom: 20px;
        background-size: auto 5px;
    }
}

.p-contcard__tel {
    background-color: #8bbdf6;
}

.p-contcard__mail {
    background-color: #f6b7b7;

    &--button {
        width: 260px;
        margin: 0 auto 8px;

        a {
            background-color: #fff;
            border: 2px solid #ee8686;
            color: #ee8686;
            font-size: 1.6rem;
        }
    }
}
.page-top {
    z-index: 99;
    position: fixed;
    right: 40px;
}