@charset "UTF-8";

/*レイアウト
*********************************************/

.l-container {}

@media screen and (max-width: 736px) {
  .l-container {
    padding: 0 15px;
  }
}

#underconstruction {
  padding: 50px 0 200px;
  text-align: center;
}

/*pagetitle
*********************************************/

#pageTitle {
  width: 100%;
  height: 150px;
  background: url(../images/pageTitle_bg.png);
  background-size: cover;
  background-position: center center;

  h1 {
    text-align: center;
    background-color: rgba(16,177,187, 0.7);
    font-size: 2.8rem;
    color: #FFF;
    line-height: 50px;
    font-weight: normal;
    width: 1000px;
  }
}

@media screen and (max-width: 736px) {
  #pageTitle {
    height: 30vw;

    h1 {
      font-size: 2.2rem;
      width: 100%;
    }
  }
}

/*crumb
*********************************************/

#crumb {
  /*background-color: #004b80;*/

  ul {
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 17px;
    font-size: 1.2rem;
    position: relative;
    line-height: 24px;

    &:before {
      content: ">";
      position: absolute;
      right: -13px;
      top: 0px;
    }

    &:last-child:before {
      display: none;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.crumb ul .home a {
  padding-left: 1.5em;
  background-size: 25%;
}

@media screen and (max-width: 736px) {
  #crumb {
    display: none;
  }
}

/*見出し
*********************************************/

.sec_ttl {
  position: relative;
  margin-bottom: 50px;

  &::after {
    position: absolute;
    display: block;
    content: '';
    background: url(../images/sec_ttl_border.png) no-repeat;
    background-position: center center;
    background-size: contain;
    width: 1000px;
    height: 10px;
    bottom: 0;
  }

  h2 {
    font-size: 3.0rem;
    padding-bottom: 20px;
    text-align: center;

    &:first-letter {
      font-size: 3.6rem;
      color: #10b1bb;
    }
  }
}

.block_ttl h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #10b1bb;
  line-height: 1.2;
}

@media screen and (max-width: 736px) {
  .sec_ttl {
    position: relative;
    margin-bottom: 20px;

    &::after {
      width: 100%;
      height: 3vw;
    }

    h2 {
      font-size: 1.8rem;

      &:first-letter {
        font-size: 2.2rem;
      }
    }
  }
}

/*office
*********************************************/

#office {
  section {
    padding: 50px 0;
  }

  #plofile {
    .inner {
      padding: 20px;
      background: url(../images/office/bg_profile.png) no-repeat;
      background-size: cover;
      background-position: top center;
    }

    .txt {
      width: 60%;
    }

    .photo {
      width: 40%;
      text-align: center;
    }

    .block + .block {
      margin-top: 30px;
    }

    .comment {
      margin-top: 1em;
      line-height: 1.5;

      p + p {
        margin-top: 1em;
      }
      
      ul {
        margin-top: 30px;
        li{
          padding: 5px;
          list-style: disc;
          list-style-position: inside;
        }
      }
    }
  }

  #gaiyou table {
    width: 100%;

    tr {

      th,
      td {
        padding: 15px;
        text-align: left;
        line-height: 1.5;
      }

      th {
        border-bottom: 3px solid #10b1bb;
      }

      td {
        border-bottom: 3px solid #EEEEEE;
      }
    }
  }
}

@media screen and (max-width: 736px) {
  #office {
    section {
      padding: 30px 0;
    }

    #plofile {
      .txt {
        width: 100%;
      }

      .photo {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    #gaiyou table tr {

      th,
      td {
        width: 100%;
        display: block;
      }

      th {
        padding: 5px 15px;
        background: #10b1bb;
        color: #FFF;
        text-align: center;
      }

      td {
        border-bottom: 0;
      }
    }
  }
}

/*price
*********************************************/

#price {
  section {
    padding: 0 0 50px 0;
  }
  .bg01 {
    padding-top: 50px;
  }
  .bg02 {
    /*background: rgba(57, 170, 177, 0.1);*/
    padding-top: 50px;
    margin-top: 50px;
  }
  
  #lead {
    padding-top: 50px;
  }

  .anchor ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      width: 23%;
      margin: 10px;

      a {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        line-height: 1.4;
        box-sizing: border-box;
      }

      &:nth-child(1) a {
        color: #ee8585;
        border: 1px dotted #ee8585;
      }

      &:nth-child(2) a {
        color: #928ccf;
        border: 1px dotted #928ccf;
      }

      &:nth-child(3) a {
        color: #32d3a0;
        border: 1px dotted #32d3a0;
      }

      &:nth-child(4) a {
        color: #3e8adf;
        border: 1px dotted #3e8adf;
      }

      &:nth-child(5) a {
        color: #39aab1;
        border: 1px dotted #39aab1;
      }

      &:nth-child(6) a {
        color: #ffc224;
        border: 1px dotted #ffc224;
      }

      &:nth-child(7) a {
        color: #666;
        border: 1px dotted #666;
      }
    }
  }

  .outer {
    padding: 20px;
  }

  #anc01 .outer {
    padding: 20px;
    background: rgba(238, 133, 133, 0.7);
  }

  #anc02 .outer {
    padding: 20px;
    background: rgba(146, 140, 207, 0.7);
  }

  #anc03 .outer {
    padding: 20px;
    background: rgba(50, 211, 160, 0.7);
  }

  #anc04 .outer {
    padding: 20px;
    background: rgba(62, 138, 223, 0.7);
  }

  #anc05 .outer {
    padding: 20px;
    background: rgba(57, 170, 177, 0.7);
  }

  #anc06 .outer {
    padding: 20px;
    background: rgba(255, 194, 36, 0.7);
  }

  #anc07 .outer {
    padding: 20px;
    background: rgba(102, 102, 102, 0.7);
  }

  .inner {
    padding: 40px 20px 20px 20px;
    background: #FFF;

    .btn a {
      line-height: 50px;
      border-radius: 10px;
      color: #FFF;
      text-align: center;
      font-weight: bold;
      margin: 20px auto;
      width: 50%;
    }
  }

  #anc01 .inner .btn a {
    background: #ee8585;
  }

  #anc02 .inner .btn a {
    background: #928ccf;
  }

  #anc03 .inner .btn a {
    background: #32d3a0;
  }

  #anc04 .inner .btn a {
    background: #3e8adf;
  }

  #anc05 .inner .btn a {
    background: #39aab1;
  }

  .p-service {
    &__ttl {
      font-size: 2.4rem;
    }
    
    &__sv-heading {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: #10b1bb;
    position: relative;
    display: block;
    margin-bottom: 30px;
    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 1px;
      background: #10b1bb;
      top: 50%;
      left: 50%;
      transform: translate(-8em,-50%);
    }
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 1px;
      background: #10b1bb;
      top: 50%;
      right: 50%;
      transform: translate(8em,-50%);
    }
    @include sp {
      font-size: 2.0rem;
    }
  }
  
  &__block {
    &:nth-of-type(n+2){
      margin-top: 40px;
    }
  }
  
  &__outer {
    margin-top: 30px;
  }
  
  &__inner {
    width: 32%;
    position: relative;
    @include sp {
      width: 100%;
    }
    p {
      position: absolute;
      display: block;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.8rem;
      color: #FFF;
      padding: 5px 10px;
      background: #10b1bb;
      white-space: nowrap;
    }
  }

  }

  .inner {
    table {
      width: 100%;

      tr {

        th,
        td {
          padding: 20px 15px 20px 15px;
          width: 50%;
        }
      }

      &.anc01 tr {

        th,
        td {
          border-top: 1px solid rgba(238, 133, 133, 0.7);
        }
      }

      &.anc02 tr {

        th,
        td {
          border-top: 1px solid rgba(146, 140, 207, 0.7);
        }
      }

      &.anc03 tr {

        th,
        td {
          border-top: 1px solid rgba(50, 211, 160, 0.7);
        }
      }

      &.anc04 tr {

        th,
        td {
          border-top: 1px solid rgba(62, 138, 223, 0.7);
        }
      }

      &.anc05 tr {

        th,
        td {
          border-top: 1px solid rgba(57, 170, 177, 0.7);
        }
      }

      &.anc06 tr {

        th,
        td {
          border-top: 1px solid rgba(255, 194, 36, 0.5);
        }
      }
      
      &.anc07 tr {

        th,
        td {
          border-top: 1px solid rgba(102, 102, 102, 0.5);
        }
      }

      tr {
        th {
          text-align: left;
          font-weight: bold;
          font-size: 1.8rem;

          @include sp {
            font-size: 1.4rem;
            font-weight: bold;
          }

          ul {
            padding-left: 1em;

            @include sp {
              padding-left: 0;
            }

            li {
              font-size: 1.4rem;
              margin-top: 10px;
              line-height: 1.5;
              font-weight: normal;

              @include sp {
                font-size: 1.2rem;
                font-weight: normal;
              }
            }
          }
        }

        td {
          text-align: right;
          font-size: 1.8rem;

          @include sp {
            font-size: 1.4rem;
          }
          
          span {
            font-size: 1.4rem;
            font-weight: normal;
            margin-top: 20px;
            display: block;
          }
        }
      }
    }

    dl {
      
      border: 1px solid #DDD;

      dt,
      dd {
        width: 50%;
        text-align: right;
        padding: 10px 5px 10px 5px;
        /*border-bottom: 1px dotted #CCC;*/
        background:#FFF;
      }
      dt {
        &:nth-child(4n-1){
          background:rgba(238,238,238,0.7);
        }
      }
      dd {
        &:nth-child(4n){
          background:rgba(238,238,238,0.7);
        }
      }
    }
  }

  #member figure {
    width: 60px;
  }
  
  .other_service {
    font-weight: bold;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width: 736px) {
  #price {
    .p-service {
      &__ttl {
        font-size: 1.8rem;
      }
    }

    section {
      padding: 15px 0;
    }
    
    .bg01 {
    padding-top: 20px;
  }
  .bg02 {
    /*background: rgba(57, 170, 177, 0.1);*/
    padding-top: 20px;
    margin-top: 25px;
  }

    .anchor ul li {
      width: 47%;
      margin: 3px;
      font-size: 1.2rem;
    }

    .inner {
      .btn a {
        width: 100%;
        font-size: 3.3vw;
      }

      table tr {

        th,
        td {
          width: 100%;
          display: block;
          text-align: center;
        }

        th {
          padding: 5px;
          line-height: 1.6;
        }
      }
    }
  }
}

/*contact
*********************************************/

#contact {
  section {
    padding: 50px 0;
  }

  .lead {
    margin-bottom: 30px;
  }
}

#contact_form {
  margin: 20px auto;

  h3 {
    padding: 10px;
    background: #cba447;
    color: #fff;
    font-size: 16px;
  }

  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }

  th {
    width: 300px;
    padding: 20px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 1.6rem;
    background-color: #f3f3f3;

    div {
      text-indent: -12px;
    }
  }

  td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ccc;
    line-height: 1.5;
    color: #666;
  }

  table li {
    display: inline-block;
    list-style: none;
    margin: 5px 0;
    padding: 0 20px 0 0;
    vertical-align: top;
  }

  .fs10 {
    font-size: 10px;
  }

  .hissu {
    float: left;
    margin: 0 20px 0 0;
    padding: 2px 5px;
    background: #ee8585;
    color: #fff;
    font-size: 15px;
    width: 50px;
    text-align: center;
    border-radius: 3px;
  }

  .ninni {
    float: left;
    margin: 0 20px 0 0;
    padding: 2px 5px;
    background: #999;
    color: #fff;
    font-size: 15px;
    width: 50px;
    text-align: center;
    border-radius: 3px;
  }
}

input,
select {
  margin-bottom: 1px;
  font-size: 1.3rem;
}

textarea {
  margin-bottom: 1px;
  font-size: 1.3rem;

  &:placeholder-shown {
    font-size: 13px;
    font-size: 1.3rem;
    color: #666;
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    font-size: 1.3rem;
  }
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */

/* Firefox 18- */

/* Firefox 19+ */

/* IE 10+ */

optgroup {
  background-color: #ccc;
  color: #333;
  font-style: normal;
}

option {
  margin: 0 5px 0 0;
  background-color: #fff;
  color: #333;
}

.ime_on {
  ime-mode: active;
}

.ime_off {
  ime-mode: disabled;
}

.input_txt,
.select {
  padding: 10px;
  border: none;
  background: #f7f7f8;
  border: 1px solid #efebe5;
  box-sizing: border-box;
}

.textarea {
  padding: 10px;
  border: none;
  background: #f7f7f8;
  border: 1px solid #efebe5;
  box-sizing: border-box;
  resize: none;
  height: 200px;
}

input:focus {
  background: #fff;
}

.form_submit {
  margin: 10px 10px 0;
  padding: 5px;
  text-align: center;

  p:first-child {
    margin-bottom: 15px;
  }

  .comment {
    margin-bottom: 30px;
    text-align: left;
  }

  label {
    padding: 2px 0 0;
    font-weight: normal;
  }
}

#contact_form input {

  &[type="submit"],
  &[type="button"] {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    background-color: #39aab1;
    border: none;
    color: transparent;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    height: 60px;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 5px;
  }

  &[type="submit"]:hover,
  &[type="button"]:hover {
    background-color: #ee8585;
  }
}

@media screen and (max-width: 736px) {
  #contact section {
    padding: 0;
  }

  #contact_form {
    th {
      display: block;
      padding: 5px 10px;
      border-bottom: none;
      width: inherit;
    }

    td {
      display: block;
      padding: 10px 5px;
      border-bottom: none;

      #zip.w15per {
        width: 35%;
      }

      span {
        display: block;
      }
    }

    .hissu {
      padding: 0;

      &.en {
        padding: 0;
      }
    }

    .ninni {
      padding: 0;
    }
  }

  .input_txt,
  .select {
    background: #fff;
    border: 1px solid #ddd;
  }

  .textarea {
    height: 31.25vw;
  }
}

/*news	
*********************************************/

#news {
  padding: 50px 0;
  /*height: 31.25vw;*/
  line-height: 1.5;
  /*overflow: hidden;*/

  h1 {
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 1em;

    @include sp {
      font-size: 1.6rem;
    }
  }

  h2 {
    font-size: 2.0rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  h5 {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  time {
    padding: 3px 5px;
    background: #39aab1;
    color: #FFF;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: inline-block
  }

  .news_btn {
    margin-top: 30px;

    .btn a {
      display: block;
      line-height: 40px;
      background: #39aab1;
      color: #FFF;
      border-radius: 5px;
      width: 100px;
    }
  }
}

.news-content {
  overflow: hidden;
  p {
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 736px) {
  #news {
    padding: 25px 0;
    overflow: auto;
    height: auto;

    &.news_dt h1 {
      background: #F5F5F5;
      padding: 10px;
      margin: 15px 0 20px 0;
      border-top: 1px dotted #39aab1;
      border-bottom: 1px dotted #39aab1;
    }
  }
}


/*service
*********************************************/

#service {
  section {
    padding: 50px 0;
  }

  .p-service {

    &__heading {
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 20px;

      &.copyright {

        color: #39aab1;
      }
    }

    &__block {
      padding: 25px 0;

      &__inner {
        padding: 0 35px;
      }
    }

    &__ip {

      &__comment {
        margin-bottom: 30px;
        .space {
          letter-spacing: -0.03em;
        }
      }

      figure {
        text-align: center;
        font-weight: bold;
        color: #FFF;
        font-size: 1.8rem;

        span {
          font-size: 1.4rem;
          font-weight: normal;
          margin-top: 15px;
          display: block;
        }
      }

      &__figure01 {
        padding: 20px 20px 0 20px;
        background: #8bd43d;
        width: 70%;
        margin: 0 auto;
      }

      &__figure02 {
        padding: 20px 20px 0 20px;
        background: #6dab2b;
        margin-top: 15px;
      }

      &__figure03 {
        padding: 20px 20px 0 20px;
        background: #4e8a0e;
        margin-top: 15px;
        padding-bottom: 15px;
      }

      .ip-list {
        li {
          padding: 10px;
          text-indent: -1em;
          padding-left: 1em;

          span {
            background: linear-gradient(transparent 60%, #fff29e 60%);
            font-weight: bold;
          }
        }
      }
    }

    &__copyright {

      margin-top: 50px;

      &__heading {
        background: #39aab1;
        color: #FFF;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 5px;
      }

      &__comment {
        margin-bottom: 30px;

        span {
          font-weight: bold;
          font-size: 1.6rem;
        }

        p + p {
          margin-top: 1em;
        }

        dl {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          dt {
            width: auto;
            max-width: 30%;
            border-bottom: 0;
            font-weight: bold;
            line-height: 1.5;
          }

          dd {
            text-align: left;
            border-bottom: 0;
            width: auto;
            max-width: 90%;
            line-height: 1.5;
          }
        }
      }

      &__note {
        background: #f8f8f8;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;

        span {
          font-weight: bold;
        }

        p + p {
          margin-top: 1em;
        }
      }

      &__tbl {
        margin-bottom: 50px;

        table {
          width: 100%;

          tr {
            th {
              font-size: 1.4rem;
              width: 40%;
              line-height: 1.5;
              padding: 15px 0;
              border-bottom: 5px solid #dddddd;
              vertical-align: middle;
            }

            td {
              font-size: 1.4rem;
              padding: 15px 0;
              text-align: left;
              line-height: 1.5;
              width: 60%;
              border-bottom: 5px solid #eeeeee;
            }
          }
        }
      }

      &__flow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        &__subject {
          width: 35%;

          li {
            &:nth-of-type(n+2) {
              margin-top: 35px;
            }
          }

          .step {
            position: relative;
            text-align: center;
            line-height: 1.4;

            &::after {
              position: absolute;
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 25px 45px 0 45px;
              left: 50%;
              transform: translateX(-50%);
              bottom: -25px;
            }

            span {
              font-weight: bold;
              font-size: 1.6rem;
            }

            &.step01 {
              background: #eca100;
              color: #FFFFFF;
              padding: 10px 0;

              &::after {
                border-color: #eca100 transparent transparent transparent;
              }
            }

            &.step02 {
              background: #f6b833;
              color: #FFFFFF;
              padding: 10px 0;

              &::after {
                border-color: #f6b833 transparent transparent transparent;
              }
            }

            &.step03 {
              background: #fae976;
              color: #2b2b2b;
              padding: 20px 0;

              &::after {
                border-color: #fae976 transparent transparent transparent;
              }
            }

            &.step04 {
              background: #fcf2ad;
              color: #2b2b2b;
              padding: 20px 0;

              &::after {
                border-color: #fcf2ad transparent transparent transparent;
              }
            }

            &.step05 {
              background: #82c737;
              color: #FFFFFF;
              padding: 20px 0;

              &::after {
                display: none;
              }

              i {
                color: #d73e3e;
                font-style: normal;
                font-weight: bold;
              }
            }
          }
        }

        &__desc {
          width: 62%;

          span {
            font-weight: bold;
          }

          &__desc01 {
            margin-bottom: 200px;
          }

          &__desc02 {
            margin-bottom: 40px;
          }

          &__desc03 {
            color: #d73e3e;
          }

          &__desc04 {
            margin-bottom: 40px;
          }

          &__desc05 {
            margin-bottom: 40px;
          }

          &__desc06 {
            margin-bottom: 40px;
          }
          
          &__desc07 {
            margin-bottom: 40px;
          }
        }

      }
    }

  }
}

@media screen and (max-width: 736px) {
  #service {
    section {
      padding: 30px 0;
    }

    .p-service {
      &__heading {
        font-size: 1.4rem;
      }

      &__block {

        &__inner {
          padding: 0;
        }
      }

      &__ip {
        &__figure01 {
          width: 100%;
        }
      }

      &__copyright {

        &__tbl {
          margin-bottom: 30px;

          table {
            width: 100%;

            tr {
              th {
                width: 100%;
                border-bottom: 0;
                background: #f8f8f8;
              }

              td {
                width: 100%;
                border-bottom: 0;
              }
            }
          }
        }

        &__flow {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          &__subject {
            width: 100%;

            li {
              &:nth-of-type(n+2) {
                margin-top: 35px;
              }
            }
          }

          &__desc {
            width: 100%;
            margin-top: 30px;

            &__desc01 {
              margin-bottom: 30px;
            }

            &__desc02 {
              margin-bottom: 30px;
            }

            &__desc05 {
              margin-bottom: 30px;
            }

            &__desc06 {
              margin-bottom: 30px;
            }
            
            &__desc07 {
              margin-bottom: 30px;
            }
          


        }

      }

      &__comment {
        dl {

          dt {
            width: 100%;
            max-width: 100%;
            text-align: left;
          }

          dd {
            width: 100%;
            max-width: 100%;
            padding-top: 0;
          }
        }
      }

    }
  }

}
}


/*anchor
*********************************************/
.anchor {
  margin-top: 50px;
  .note {
    /*position: relative;*/
    cursor: pointer;
    display: inline-block;

    &__desc {
      display: none;
      position: absolute;
      padding: 10px;
      font-size: 12px;
      line-height: 1.6em;
      color: #fff;
      border-radius: 5px;
      background: rgba(62, 138, 223, 0.7);
      width: 100px;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border: 15px solid transparent;
        border-top: 15px solid rgba(62, 138, 223, 0.7);
        margin-left: -15px;
      }
    }

    &:hover {
      .note__desc {
        display: inline-block;
        top: -70px;
        left: 30px;
      }
    }
  }

}
