/* Scss Document */
$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

@mixin tab {
    @media (min-width: $widthTab) and (max-width: ($widthPC)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($widthTab)) {
        @content;
    }
}