/* Scss Document */
.top-mv {
  &__image {
    height: 400px;
    background-image: url(../images/top/mv_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-align: center;

    @include sp {
      height: auto;
    }

    &__catch {
      padding-top: 23px;
      text-align: center;
      @include sp {
      padding-right: 10px;
    }
    }
  }

  &__description {
    line-height: 1.8;
    padding-top: calc(30px - (((1.4rem * 1.8) - 1.4rem) / 2));
    padding-bottom: calc(30px - (((1.4rem * 1.8) - 1.4rem) / 2));
    background-image: url(../images/bg_baige.png);
    background-repeat: repeat;
    background-position: center;
    text-align: center;

    @include sp {
      padding-left: 3.13vw;
      padding-right: 3.13vw;
      text-align: left;
    }

    strong {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

.p-service {
  background-image: url(../images/top/sec01_bg.png);
  background-size: cover;
  background-position: center top;

  &__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    border-width: 20px;
    border-style: solid;
    padding: 25px;
    background-color: #fff;

    @include sp {
      width: 100%;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    &:nth-child(n + 4) {
      /*width: 32%;*/
      margin-top: 20px;

      @include sp {
        width: 100%;
      }
    }

    &:nth-child(4) .p-service__ttl {
      margin-bottom: 15px;

      @include sp {
        width: 100%;
      }
    }
  }

  &__icon {
    height: 80px;
    margin: 0 auto 30px;
    text-align: center;


    &.ico-sm {
      margin: 20px auto 0;

      @include sp {
        margin: 0 auto 30px;
      }
    }

    img {
      max-height: 100%;
    }
  }

  &__ttl {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1;

    &.ttl02 {
      margin-bottom: 0;

      @include sp {
        margin-bottom: 30px;
      }
    }
  }

  &__button {
    width: 200px;
    margin: 30px auto 0;
  }
  
  &__sv-heading {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: #10b1bb;
    position: relative;
    display: block;
    margin-bottom: 30px;
    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 1px;
      background: #10b1bb;
      top: 50%;
      left: 50%;
      transform: translate(-8em,-50%);
    }
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 80px;
      height: 1px;
      background: #10b1bb;
      top: 50%;
      right: 50%;
      transform: translate(8em,-50%);
    }
    @include sp {
      font-size: 2.0rem;
    }
  }
  
  &__block {
    &:nth-of-type(n+2){
      margin-top: 40px;
    }
  }
  
  &__outer {
    margin-top: 30px;
  }
  
  &__inner {
    width: 32%;
    position: relative;
    @include sp {
      width: 100%;
    }
    p {
      position: absolute;
      display: block;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.8rem;
      color: #FFF;
      padding: 5px 10px;
      background: #10b1bb;
      white-space: nowrap;
    }
  }
}

.p-about {
  a {
    text-decoration: none;
  }

  &__box {
    width: 32%;
    padding: 10px;
    border: 3px solid #10b1bb;
    background-color: #fff;

    @include sp {
      width: 100%;

      &:nth-child(n + 2) {
        margin-top: 20px;
      }
    }
  }

  &__ttl {
    padding-top: 15px;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.p-news {
  &__outer {
    width: 100%;
    max-width: 640px;
    height: 224px;
    margin: 0 auto;
    overflow-y: scroll;
  }
  
  &__block {
    width: 100%;
    max-width: 640px;
  }

  &__date {
    float: left;
    font-weight: bold;
    color: #fff;
    background-color: #39aab1;
    padding: 6px 0;
    width: 100px;
    text-align: center;
  }

  &__ttl {
    margin-bottom: 10px;
    padding-top: calc(6px - (((1.4rem * 1.5) - 1.4rem) / 2));
    padding-bottom: calc(16px - (((1.4rem * 1.5) - 1.4rem) / 2));
    padding-left: 112px;
    border-bottom: 1px dotted #eee;
    line-height: 1.5;
  }

  &__button {
    width: 200px;
    margin: 30px auto 0;
  }
}
