@charset "utf-8";
@import url('//fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP');
@import url('//fonts.googleapis.com/css?family=Lato|Roboto');


a {
  color: #10b1bb;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;

  &:hover {
    text-decoration: underline;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70)";
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transition: All 0.3s ease;
  backface-visibility: hidden;
}

a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha( opacity=70)";
}

.u-pc-only {
  display: block;
}

.u-mobile-only {
  display: none;
}

@media screen and (max-width: 736px) {
  .u-pc-only {
    display: none;
  }

  .u-mobile-only {
    display: block;
  }
}

/*フォント
*********************************************/

.font_mincho {
  font-family: 'Noto Serif JP', serif, YuMincho, '游明朝', "ＭＳ Ｐ明朝", MS PMincho, "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif
}

.font_yugo {
  font-family: YuGothic, '游ゴシック', sans-serif;
}

.font_en {
  font-family: Arial, Helvetica, "sans-serif";
}

.font_lato {
  font-family: 'Lato', sans-serif;
}

.font_robot {
  font-family: 'Roboto', sans-serif;
}

/*ボタン
**********************************************/

[class*="btn"] a {
  text-decoration: none;
}

.btn a {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  transition: All 0.3s ease;
}

.btn a:hover {
  text-decoration: none !important;
}

.btn.arrow a::before,
.btn.arrow a::after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
}

.btn.arrow.before a::before {
  top: 50%;
  left: 0px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

.btn.arrow.after a::after {
  top: 50%;
  right: 10px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}


/* c-flex
--------------------------------------------------------- */

[class*="c-flex"] {
  display: flex;
  flex-wrap: wrap;
}

.c-flex--nowrap {
  flex-wrap: nowrap;
}

.c-flex--col {
  flex-direction: column;
}

.c-flex--row {
  flex-direction: row;
}

.c-flex--reverse {
  flex-direction: row-reverse;
}

.c-flex--between {
  justify-content: space-between;
}

.c-flex--around {
  justify-content: space-around;
}

.c-flex--alignCenter {
  align-items: center;
}

.c-flex--alignEnd {
  align-items: flex-end;
}

.c-flex--stretch {
  align-items: stretch;
}

.c-jus-center {
  justify-content: center;
}

.c-jus-end {
  justify-content: flex-end;
}


/********************
スタイル
***********************/

.u-c-pink {
  color: #ee8585;
}

.u-c-perple {
  color: #928ccf;
}

.u-c-lightgreen {
  color: #32d3a0;
}

.u-c-blue {
  color: #3e8adf;
}

.u-c-darkgreen {
  color: #39aab1;
}

.u-c-orange {
  color: #ffc224;
}

.bg_navy {
  background: #7eb8d2;
}

.bg_gray {
  background: #eeeeee;
}

.bg_gray02 {
  background: #f3f4f4;
}

.bg_blue {
  background: #103080;
}

.w10per {
  width: 10%;
}

.w15per {
  width: 15%;
}

.w20per {
  width: 20%;
}

.w25per {
  width: 25%;
}

.w30per {
  width: 30%;
}

.w40per {
  width: 40%;
}

.w50per {
  width: 50%;
}

.w60per {
  width: 60%;
}

.w70per {
  width: 70%;
}

.w75per {
  width: 75%;
}

.w85per {
  width: 85%;
}


.w90per {
  width: 90%;
}

.w95per {
  width: 95%;
}

.w100per {
  width: 100%;
}


.u-block {
  display: block
}

.u-inline {
  display: inline
}

.u-inline-block {
  display: inline-block
}

.u-flt-l {
  float: left;
}

.u-flt-r {
  float: right;
}

.u-cf {
  zoom: 1;
}

.u-cf:before,
.u-cf:after {
  content: "";
  display: table
}

.u-cf:after {
  clear: both
}

.u-pos-r {
  position: relative
}

.u-pos-a {
  position: absolute
}

.u-pos-s {
  position: static
}

.u-ta-l {
  text-align: left
}

.u-ta-c {
  text-align: center
}

.u-ta-r {
  text-align: right
}

.u-m-xxl {
  margin: 50px
}

.u-m-xl {
  margin: 40px
}

.u-m-l {
  margin: 30px
}

.u-m-m {
  margin: 20px
}

.u-m-s {
  margin: 15px
}

.u-m-xs {
  margin: 10px
}

.u-m-xxs {
  margin: 8px
}

.u-mt-xxl {
  margin-top: 50px
}

.u-mt-xl {
  margin-top: 40px
}

.u-mt-l {
  margin-top: 30px
}

.u-mt-m {
  margin-top: 20px
}

.u-mt-s {
  margin-top: 15px
}

.u-mt-xs {
  margin-top: 10px
}

.u-mt-xxs {
  margin-top: 8px
}

.u-mr-xxl {
  margin-right: 50px
}

.u-mr-xl {
  margin-right: 40px
}

.u-mr-l {
  margin-right: 30px
}

.u-mr-m {
  margin-right: 20px
}

.u-mr-s {
  margin-right: 15px
}

.u-mr-xs {
  margin-right: 10px
}

.u-mr-xxs {
  margin-right: 8px
}

.u-mb-xxl {
  margin-bottom: 50px
}

.u-mb-xl {
  margin-bottom: 40px
}

.u-mb-l {
  margin-bottom: 30px
}

.u-mb-m {
  margin-bottom: 20px
}

.u-mb-s {
  margin-bottom: 15px
}

.u-mb-xs {
  margin-bottom: 10px
}

.u-mb-xxs {
  margin-bottom: 8px
}

.u-ml-xxl {
  margin-left: 50px
}

.u-ml-xl {
  margin-left: 40px
}

.u-ml-l {
  margin-left: 30px
}

.u-ml-m {
  margin-left: 20px
}

.u-ml-s {
  margin-left: 15px
}

.u-ml-xs {
  margin-left: 10px
}

.u-ml-xxs {
  margin-left: 8px
}

.u-p-xxl {
  padding: 50px
}

.u-p-xl {
  padding: 40px
}

.u-p-l {
  padding: 30px
}

.u-p-m {
  padding: 20px
}

.u-p-s {
  padding: 15px
}

.u-p-xs {
  padding: 10px
}

.u-p-xxs {
  padding: 8px
}

.u-pt-xxl {
  padding-top: 50px
}

.u-pt-xl {
  padding-top: 40px
}

.u-pt-l {
  padding-top: 30px
}

.u-pt-m {
  padding-top: 20px
}

.u-pt-s {
  padding-top: 15px
}

.u-pt-xs {
  padding-top: 10px
}

.u-pt-xxs {
  padding-top: 8px
}

.u-pr-xxl {
  padding-right: 50px
}

.u-pr-xl {
  padding-right: 40px
}

.u-pr-l {
  padding-right: 30px
}

.u-pr-m {
  padding-right: 20px
}

.u-pr-s {
  padding-right: 15px
}

.u-pr-xs {
  padding-right: 10px
}

.u-pr-xxs {
  padding-right: 8px
}

.u-pb-xxl {
  padding-bottom: 50px
}

.u-pb-xl {
  padding-bottom: 40px
}

.u-pb-l {
  padding-bottom: 30px
}

.u-pb-m {
  padding-bottom: 20px
}

.u-pb-s {
  padding-bottom: 15px
}

.u-pb-xs {
  padding-bottom: 10px
}

.u-pb-xxs {
  padding-bottom: 8px
}

.u-pl-xxl {
  padding-left: 50px
}

.u-pl-xl {
  padding-left: 40px
}

.u-pl-l {
  padding-left: 30px
}

.u-pl-m {
  padding-left: 20px
}

.u-pl-s {
  padding-left: 15px
}

.u-pl-xs {
  padding-left: 10px
}

.u-pl-xxs {
  padding-left: 8px
}

.is-hidden {
  display: none
}

.u-fs-xxl {
  font-size: 20px
}

.u-fs-xl {
  font-size: 18px
}

.u-fs-l {
  font-size: 16px
}

.u-fs-m {
  font-size: 14px
}

.u-fs-s {
  font-size: 12px
}

.u-fs-xs {
  font-size: 11px
}

.u-fs-xxs {
  font-size: 10px
}

.u-tc-gray {
  color: #999
}

.u-tc-light-gray {
  color: #ddd
}

.u-tc-dark-gray {
  color: #666
}

.u-tc-white {
  color: #fff
}

.u-tc-red {
  color: #f00
}

.u-tc-light-green {
  color: #14a0b7;
}

.u-fw-n {
  font-weight: normal
}

.u-fw-b {
  font-weight: bold
}

.u-td-u {
  text-decoration: underline
}

.u-td-n {
  text-decoration: none
}

.u-lh-xl {
  line-height: 1.8
}

.u-lh-l {
  line-height: 1.6
}

.u-lh-m {
  line-height: 1.4
}

.u-lh-s {
  line-height: 1.2
}

.u-lh-none {
  line-height: 0
}

.u-visible-pc {
  display: block
}

.u-visible-pc--inline {
  display: inline
}

.u-visible-sp {
  display: none
}

.u-visible-sp--inline {
  display: none
}

.u-visible-sp--flex {
  display: none
}

@media (min-width:738px) {
  .u-m-xxl-pc {
    margin: 50px
  }

  .u-m-xl-pc {
    margin: 40px
  }

  .u-m-l-pc {
    margin: 30px
  }

  .u-m-m-pc {
    margin: 20px
  }

  .u-m-s-pc {
    margin: 15px
  }

  .u-m-xs-pc {
    margin: 10px
  }

  .u-m-xxs-pc {
    margin: 8px
  }

  .u-mt-xxl-pc {
    margin-top: 50px
  }

  .u-mt-xl-pc {
    margin-top: 40px
  }

  .u-mt-l-pc {
    margin-top: 30px
  }

  .u-mt-m-pc {
    margin-top: 20px
  }

  .u-mt-s-pc {
    margin-top: 15px
  }

  .u-mt-xs-pc {
    margin-top: 10px
  }

  .u-mt-xxs-pc {
    margin-top: 8px
  }

  .u-mr-xxl-pc {
    margin-right: 50px
  }

  .u-mr-xl-pc {
    margin-right: 40px
  }

  .u-mr-l-pc {
    margin-right: 30px
  }

  .u-mr-m-pc {
    margin-right: 20px
  }

  .u-mr-s-pc {
    margin-right: 15px
  }

  .u-mr-xs-pc {
    margin-right: 10px
  }

  .u-mr-xxs-pc {
    margin-right: 8px
  }

  .u-mb-xxl-pc {
    margin-bottom: 50px
  }

  .u-mb-xl-pc {
    margin-bottom: 40px
  }

  .u-mb-l-pc {
    margin-bottom: 30px
  }

  .u-mb-m-pc {
    margin-bottom: 20px
  }

  .u-mb-s-pc {
    margin-bottom: 15px
  }

  .u-mb-xs-pc {
    margin-bottom: 10px
  }

  .u-mb-xxs-pc {
    margin-bottom: 8px
  }

  .u-ml-xxl-pc {
    margin-left: 50px
  }

  .u-ml-xl-pc {
    margin-left: 40px
  }

  .u-ml-l-pc {
    margin-left: 30px
  }

  .u-ml-m-pc {
    margin-left: 20px
  }

  .u-ml-s-pc {
    margin-left: 15px
  }

  .u-ml-xs-pc {
    margin-left: 10px
  }

  .u-ml-xxs-pc {
    margin-left: 8px
  }

  .u-p-xxl-pc {
    padding: 50px
  }

  .u-p-xl-pc {
    padding: 40px
  }

  .u-p-l-pc {
    padding: 30px
  }

  .u-p-m-pc {
    padding: 20px
  }

  .u-p-s-pc {
    padding: 15px
  }

  .u-p-xs-pc {
    padding: 10px
  }

  .u-p-xxs-pc {
    padding: 8px
  }

  .u-pt-xxl-pc {
    padding-top: 50px
  }

  .u-pt-xl-pc {
    padding-top: 40px
  }

  .u-pt-l-pc {
    padding-top: 30px
  }

  .u-pt-m-pc {
    padding-top: 20px
  }

  .u-pt-s-pc {
    padding-top: 15px
  }

  .u-pt-xs-pc {
    padding-top: 10px
  }

  .u-pt-xxs-pc {
    padding-top: 8px
  }

  .u-pr-xxl-pc {
    padding-right: 50px
  }

  .u-pr-xl-pc {
    padding-right: 40px
  }

  .u-pr-l-pc {
    padding-right: 30px
  }

  .u-pr-m-pc {
    padding-right: 20px
  }

  .u-pr-s-pc {
    padding-right: 15px
  }

  .u-pr-xs-pc {
    padding-right: 10px
  }

  .u-pr-xxs-pc {
    padding-right: 8px
  }

  .u-pb-xxl-pc {
    padding-bottom: 50px
  }

  .u-pb-xl-pc {
    padding-bottom: 40px
  }

  .u-pb-l-pc {
    padding-bottom: 30px
  }

  .u-pb-m-pc {
    padding-bottom: 20px
  }

  .u-pb-s-pc {
    padding-bottom: 15px
  }

  .u-pb-xs-pc {
    padding-bottom: 10px
  }

  .u-pb-xxs {
    padding-bottom: 8px
  }

  .u-pl-xxl-pc {
    padding-left: 50px
  }

  .u-pl-xl-pc {
    padding-left: 40px
  }

  .u-pl-l-pc {
    padding-left: 30px
  }

  .u-pl-m-pc {
    padding-left: 20px
  }

  .u-pl-s-pc {
    padding-left: 15px
  }

  .u-pl-xs-pc {
    padding-left: 10px
  }

  .u-pl-xxs-pc {
    padding-left: 8px
  }
}

@media (max-width:420px) {
  .u-visible-sp {
    display: block
  }

  .u-visible-sp--inline {
    display: inline
  }

  .u-visible-sp--flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }

  .u-visible-pc {
    display: none
  }

  .u-visible-pc--inline {
    display: none
  }

  .u-hidden-sp {
    display: none
  }

  .u-width-full-sp {
    width: 100% !important
  }

  .u-flex-sp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }

  .u-m-xxl-pc {
    margin: 50px
  }

  .u-m-xl-pc {
    margin: 40px
  }

  .u-m-l-pc {
    margin: 30px
  }

  .u-m-m-pc {
    margin: 20px
  }

  .u-m-s-pc {
    margin: 15px
  }

  .u-m-xs-pc {
    margin: 10px
  }

  .u-m-xxs-pc {
    margin: 8px
  }

  .u-mt-xxl-sp {
    margin-top: 50px
  }

  .u-mt-xl-sp {
    margin-top: 40px
  }

  .u-mt-l-sp {
    margin-top: 30px
  }

  .u-mt-m-sp {
    margin-top: 20px
  }

  .u-mt-s-sp {
    margin-top: 15px
  }

  .u-mt-xs-sp {
    margin-top: 10px
  }

  .u-mt-xxs-sp {
    margin-top: 8px
  }

  .u-mr-xxl-sp {
    margin-right: 50px
  }

  .u-mr-xl-sp {
    margin-right: 40px
  }

  .u-mr-l-sp {
    margin-right: 30px
  }

  .u-mr-m-sp {
    margin-right: 20px
  }

  .u-mr-s-sp {
    margin-right: 15px
  }

  .u-mr-xs-sp {
    margin-right: 10px
  }

  .u-mr-xxs-sp {
    margin-right: 8px
  }

  .u-mb-xxl-sp {
    margin-bottom: 50px
  }

  .u-mb-xl-sp {
    margin-bottom: 40px
  }

  .u-mb-l-sp {
    margin-bottom: 30px
  }

  .u-mb-m-sp {
    margin-bottom: 20px
  }

  .u-mb-s-sp {
    margin-bottom: 15px
  }

  .u-mb-xs-sp {
    margin-bottom: 10px
  }

  .u-mb-xxs-sp {
    margin-bottom: 8px
  }

  .u-ml-xxl-sp {
    margin-left: 50px
  }

  .u-ml-xl-sp {
    margin-left: 40px
  }

  .u-ml-l-sp {
    margin-left: 30px
  }

  .u-ml-m-sp {
    margin-left: 20px
  }

  .u-ml-s-sp {
    margin-left: 15px
  }

  .u-ml-xs-sp {
    margin-left: 10px
  }

  .u-ml-xxs-sp {
    margin-left: 8px
  }

  .u-p-xxl-sp {
    padding: 50px
  }

  .u-p-xl-sp {
    padding: 40px
  }

  .u-p-l-sp {
    padding: 30px
  }

  .u-p-m-sp {
    padding: 20px
  }

  .u-p-s-sp {
    padding: 15px
  }

  .u-p-xs-sp {
    padding: 10px
  }

  .u-p-xxs-sp {
    padding: 8px
  }

  .u-pt-xxl-sp {
    padding-top: 50px
  }

  .u-pt-xl-sp {
    padding-top: 40px
  }

  .u-pt-l-sp {
    padding-top: 30px
  }

  .u-pt-m-sp {
    padding-top: 20px
  }

  .u-pt-s-sp {
    padding-top: 15px
  }

  .u-pt-xs-sp {
    padding-top: 10px
  }

  .u-pt-xxs-sp {
    padding-top: 8px
  }

  .u-pr-xxl-sp {
    padding-right: 50px
  }

  .u-pr-xl-sp {
    padding-right: 40px
  }

  .u-pr-l-sp {
    padding-right: 30px
  }

  .u-pr-m-sp {
    padding-right: 20px
  }

  .u-pr-s-sp {
    padding-right: 15px
  }

  .u-pr-xs-sp {
    padding-right: 10px
  }

  .u-pr-xxs-sp {
    padding-right: 8px
  }

  .u-pb-xxl-sp {
    padding-bottom: 50px
  }

  .u-pb-xl-sp {
    padding-bottom: 40px
  }

  .u-pb-l-sp {
    padding-bottom: 30px
  }

  .u-pb-m-sp {
    padding-bottom: 20px
  }

  .u-pb-s-sp {
    padding-bottom: 15px
  }

  .u-pb-xs-sp {
    padding-bottom: 10px
  }

  .u-pb-xxs-sp {
    padding-bottom: 8px
  }

  .u-pl-xxl-sp {
    padding-left: 50px
  }

  .u-pl-xl-sp {
    padding-left: 40px
  }

  .u-pl-l-sp {
    padding-left: 30px
  }

  .u-pl-m-sp {
    padding-left: 20px
  }

  .u-pl-s-sp {
    padding-left: 15px
  }

  .u-pl-xs-sp {
    padding-left: 10px
  }

  .u-pl-xxs-sp {
    padding-left: 8px
  }
}
